<h1>Editing topic</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %> |
<%#= link_to 'RSS Feed', new_rss_feed %> |
<%= link_to 'Delete', @topic, method: :delete,
  data: { confirm: 'Are you sure?' } %>
