<% provide(:title, 'RSS Topics') %>
<table>
  <tbody>
    <% @topics.each do |topic| %>
      <% all_news = "++++" %>
      <% topic.all_rss.each do |news| %>
        <% all_news += news[:title] + "++++" %>
      <% end %>
      <div class="news">
        <legend><%= link_to topic.topic, topic %></legend>
        <div class="new_contact">
          <marquee scrollamount="5" scrolldelay="1">
            <b><%= all_news %></b>
          </marquee> 
        </div>
        <%= link_to 'Show', topic %> |
        <%= link_to 'Edit', edit_topic_path(topic) %>
      </div>
    <% end %>
  </tbody>
</table>
