<% unless @topics.blank?%>
  <div class="news">
    <% @topics.each do |result| %>
      <legend><%= link_to result.topic, result %></legend>
        <div class="new_contact">
          <% result.rsses.each do |rss| %>
            <a><%= link_to rss.link, rss.link %></a>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>
