<% @tags = Tag.all %>
<legend><a>All Tags</a></legend>
<dl>
<% @tags.each do |tag| %>
  <dt>
    <%= tag.name %>
  </dt>
  <dd>
    <%= link_to 'Delete', tag, method: :delete,
      data: { confirm: 'Are you sure?' }%> |
    <%= link_to 'Show', tag %>
  </dd>
<% end %>
</dl>
