<% provide(:title, 'Tags') %>
<div class="news">
  <div class="tag_content">
    <%= render 'form' %>
  </div>
  <div class="tag_content">
    <%= render 'alltags' %>
  </div>
  <%= link_to 'Back', root_path %>
</div>

