<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a><b>R</b>ead <b>S</b>ome <b>S</b>tuff</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="header_link">
          <%= link_to 'All Topics', root_path %>
        </li>
        <li class="header_link">
          <%= link_to 'New Topic', new_topic_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
