<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <h3 style="color: white"><%= yield(:title) %></h3>
      </nav>
    </div>
  </div>
</header>
